/*Estilos tamaño celular*/
@media (max-width:1024px){
    /*Estilos para el header*/
    .iconos{
        display: flex;
        text-align: center;
        padding: 0;
        justify-content: center;
    }
    .lista{
        display: none;
    }
   #detalle-header{
        font-size: 15px;
    }

    /*Estilos para la seccion productos*/
    .productos div{
        padding: 5px;
    }
    .productos p{
        font-size: 20px;
    }

    /*Estilos para la seccion cumpleaños*/
    .cumpleaños{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    button{
        position: relative;
        top: 45px;
    }

    /*Estilos de la seccion sobre nosotros*/
    .sobreNosotros {
        display: block;
    }
    .sobreNosotros img {
        float: left;
        width: 50%;
        margin: 10px;
    }

    /*Estilos footer*/
    .footer{
        padding: 30px;
    }
}

/*Estilos tamaño celular*/
@media (max-width:550px){
    /*Estilos para el header*/
    header{
        padding: 10px;
    }
    .iconos, .lista{
        display: none;
    }    
   #detalle-header{
        font-size: 20px;
        display: block;
        line-height: 20px;
    }

    /*Estilos para la seccion productos*/
    #titulo-productos, .titulo-cumpleaños{
        font-size: 35px;
    }
    .productos-detalle, .productos-detalle-derecha, .titulo-sobreNosotros{
        display: block;
    }
    .productos img{
        width: 100%;
        height: 300px;
    }
    .productos div{
        padding: 0px;
    }
    .productos {
        font-size: 20px;
    }

    /*Estilos para la seccion cumpleaños*/
    .cumpleaños{
        display: grid;
        grid-template-columns: 100%;
    }
    
    /*Estilos de la seccion sobre nosotros*/
    .sobreNosotros {
        display: block;
    }
}