html{
    scroll-behavior: smooth;
}
header{
    background-color: rgb(31, 29, 29);
    color: aliceblue;
    padding-bottom: .5px;
}
header h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    font-size: 45px;
    color: chocolate;
    text-shadow: 5px 5px 7px #000;
}
header a{
    font-size: 17px;
}
.iconos{
    display: flex;
    padding: 10px;
}
.iconos img{
    width: 30px;
    background-color: aliceblue;
    border-radius: 50%;
}
.iconos a{
    position: relative;
    bottom: 10px;
}
.iconos a:hover{
    transition: .5s;
    color: yellow;
    font-weight: bold;
}
.iconos div{
    margin: 10px;
}
.lista{
    position: relative;
    left: 270px;
    height: 20px;
    margin: 5px 0px 0px 10px;    
}
.lista:hover{
    font-weight: bold;
    color: yellow;
}
:link,
:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#detalle-header{
    text-align: center;
    font-size: 25px;
    padding: 15px;
    line-height: 0;
}